.section-body-car-main-section {
    background-color: #181818;
    margin: 2vw 20vw;
    padding: 1vw 1vw;
    display: block;
}

.car-main-section-split-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

@media screen and (max-width: 1350px) {
    .section-body-car-main-section {
        margin: 2vw 0vw;
    }
}

@media screen and (max-width: 600px) {
    .car-main-section-split-wrapper {
        display: block;
    }
}