.seller-info-body {
    display: block;
    background-color: #313131;
    margin-top: 1.5em;
    padding: 2em 2em;
}

.seller-info-header {
    font-size: 2em;
    color: #fff;
}

@media screen and (max-width: 1350px) {
    
    .seller-info-header {
        font-size: 2.6vw;
    } 
}

@media screen and (max-width: 600px) {
    .seller-info-body {
        margin-top: 5vw;
        padding: 5vw 5vw;
    }
    
    .seller-info-header {
        font-size: 5vw;
    }
}