.technical-data-body {
    display: block;
    background-color: #313131;
    margin-top: 1.5vw;
    width: 44%;
    padding: 2vw 2vw;
}

.technical-data-headers-wrapper {
    display: flex;
    width: 100%;
}

.technical-data-header {
    font-size: 2vw;
    color: #fff;
    width: 50%;
}

.technical-data-line-container {
    position: relative;
    width: 100%; 
    height: 2px; 
    background-color: #898989;
    margin: 1vw 0;
}

.technical-data-line-container-vertical {
    position: relative;
    width: 2px; 
    background-color: #898989;
    margin-right: 2vw;
    margin-left: 1vw;
}

.technical-data-content-body-wrapper {
    display: flex;
    width: 100%;
}

.technical-data-content-body-entity-wrapper {
    display: block;
    width: 45%;
}

.technical-data-body-line {
    display: flex;
    width: 100%;
    margin-bottom: 0.5vw;   
}

.technical-data-content-text {
    font-size: 0.8vw;
    color: #a3a3a3;
    width: 50%;
}

.technical-data-content-text-value {
    font-size: 0.8vw;
    color: #fff;
    width: 50%;
}

.technical-data-standard-view {
    visibility: visible;
    display: block;
}

.technical-data-mobile-view {
    visibility: hidden;
    display: none;
}

@media screen and (max-width: 1350px) {
    
    .technical-data-header {
        font-size: 2.6vw;
    }
    
    .technical-data-content-text {
        font-size: 1.2vw;
    }
    
    .technical-data-content-text-value {
        font-size: 1.2vw;
    }
}

@media screen and (max-width: 600px) {

    .technical-data-content-body-entity-wrapper {
        width: 100%;
    }

    .technical-data-mobile-view {
        visibility: visible;
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    .technical-data-body {
        margin-top: 5vw;
        width: 90%;
        padding: 3vw 5vw;
    }

    .technical-data-header {
        font-size: 5vw;
    }
    
    .technical-data-content-text {
        font-size: 3vw;
    }
    
    .technical-data-content-text-value {
        font-size: 3vw;
    }

    .technical-data-standard-view {
        visibility: hidden;
        display: none;
    }
}