.section-body-categories-section {
    background-color: #181818;
    margin: 2em 20em;
    padding: 1em 3em;
    display: block;
}

.section-header-categories-section {
    color: #ffffff;
    font-size: 2em;
}

.line-container {
    position: relative;
    width: 100%; /* Adjust the width of the lines container */
    height: 2px; /* Adjust the height of the lines */
    background-color: #898989;
    margin-bottom: 0.3em;
    margin: 2em 0;
}

.categories-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.category-background {
    background-color: #313131;
    width: 10em;
    height: 5em;
    border: solid;
    border-radius: 10px;
    border-width: 0.1em;
    border-color: #D9D9D9;
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 3em;
}

.category-label {
    font-size: 1.3em;
    color: #fff;
    transform: translate(0, 100%)
}
