.section-body-model-section {
    background-color: #181818;
    margin: 2em 20em;
    padding: 1em 3em;
    /* display: block;
    justify-content: space-between;
    align-items: center; */
}

.section-header-model-section {
    color: #ffffff;
    font-size: 2em;
}

.line-container {
    position: relative;
    width: 100%; /* Adjust the width of the lines container */
    height: 2px; /* Adjust the height of the lines */
    background-color: #898989;
    margin-bottom: 0.3em;
    margin: 2em 0;
}

.model-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.model-label {
    color: #fff;
    font-size: 1.5em;
    margin-right: 2em;
    margin-left: 2em;
}

.model-group {
    display: block;
    margin-top: 1em;
}

.click-and-pick-progress-bar {
    display: block;
    margin-top: 5em;
}

.progress-bar-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-bar-sphere {
    width: 2em;
    height: 2em;
    background-color: #313131;
    border-radius: 50%;
    border: 1px solid #898989;
}

.progress-bar-sphere {
    width: 2em;
    height: 2em;
    background-color: #313131;
    border-radius: 50%;
    border: 1px solid #898989;
}

.progress-bar-sphere-current {
    width: 2em;
    height: 2em;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #898989;
}

.progress-bar-sphere-traversed {
    width: 2em;
    height: 2em;
    background-color: green;
    border-radius: 50%;
    border: 1px solid #898989;
}


.progress-bar-line {
    position: relative;
    width: 2em; /* Adjust the width of the lines container */
    height: 1px; /* Adjust the height of the lines */
    background-color: #898989;
}

.progress-bar-label {
    color: #ffffff;
    font-size: 1.5em;
    text-align: center;
}

.brand-label-model-section {
    font-size: 1.5em;
    color: #D9D9D9;
    margin-top: 3em;
}

.custom-checkbox {
    position: relative;
    cursor: pointer;
    display: inline-block;
    line-height: 1.5;
    margin-left: 1em;
  }
  
  /* Hide the default checkbox input */
  .custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Style for the custom checkmark */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.0em;
    width: 1.0em;
    background-color: #313131; /* Background color of the checkmark */
    border: 1px solid #D9D9D9; /* Border color of the checkmark */
  }
  
  /* Style for the checkmark when the checkbox is checked */
  .custom-checkbox input:checked + .checkmark {
    background-color: #2196F3; /* Change the background color when checked */
    border-color: #2196F3; /* Change the border color when checked */
  }
  
  /* Style for the checkmark's appearance (in this case, a simple square) */
  .checkmark::before {
    content: '';
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when the checkbox is checked */
  .custom-checkbox input:checked + .checkmark::before {
    display: block;
  }

  .model-line {
    display: flex;
    align-items: center;
  }