.body {
    background-color: #313131;
}

.current-route-text {
    color: #ffffff;
    font-size: 0.8vw;
    margin-left: 26vw;
    padding-top: 1vw;
}

.header-section {
    margin: 2vw 20vw;
    display: block;
}

.add-car-page-header {
    color: #ffffff;
    font-size: 2vw;
    padding-top: 2vw;
}

@media screen and (max-width: 1350px) {
    .header-section {
        margin: 2vw 2vw;
    }

    .add-car-page-header {
        font-size: 3vw;
    }
}