.body {
    background-color: #313131;
}

.car-offer-page-header {
    color: #ffffff;
    font-size: 2em;
    padding-left: 20vw;
    padding-top: 2vw;
}

.current-route-text {
    color: #ffffff;
    font-size: 0.8vw;
    margin-left: 26vw;
    padding-top: 1vw;
}