.body {
    background-color: #313131;
    min-height: 100vh;
}

.click-and-pick-page-header {
    color: #ffffff;
    font-size: 2vw;
    padding-left: 20vw;
    padding-top: 2vw;
}

.current-route-text {
    color: #ffffff;
    font-size: 0.8vw;
    margin-left: 26vw;
    padding-top: 1vw;
}

@media screen and (max-width: 1350px) {
    .click-and-pick-page-header {
        color: #ffffff;
        font-size: 4vw;
        padding-left: 1vw;
        padding: 4vw 0vw;
    }
}

