.login-page-body {
    background-color: #313131;
    color: #fff;
    padding: 2vw 20vw;
    min-height: 100vh;
}

.main-wrapper {
    padding: 2vw 0;    
    border: #181818 solid 1vw;
    display: flex;
    justify-content: space-around;
}

.login-wrapper {
    display: block;
}

.header-label {
    font-size: 2vw;
    margin-bottom: 1vw;
}

.register-wrapper {
    display: block;
}

.error-text {
    color: red;
    font-size: 1vw;
} 

.register-row-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}

.login-register-form {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

@media screen and (max-width: 1350px) {
    .login-page-body {
        padding: 2vw 0vw;
    }
    
    .main-wrapper {
        padding: 4vw 0;
    }
    
    .header-label {
        font-size: 3vw;
        margin-bottom: 2vw;
    }
    
    .input-label {
        font-size: 2vw;
        margin-bottom: 0.5vw;
    }
    
    .error-text {
        font-size: 2vw;
    } 
}

@media screen and (max-width: 600px) {
    .login-page-body {
        padding: 2vw 0vw;
    }
    
    .main-wrapper {
        padding: 4vw 0;
    }
    
    .header-label {
        font-size: 6vw;
        margin-bottom: 2vw;
    }
    
    .input-label {
        font-size: 2vw;
        margin-bottom: 0.5vw;
    }
    
    .error-text {
        font-size: 2vw;
    } 

    .login-input {
        width: 25vw;
    }

    .register-input {
        width: 25vw;
    }
}