.body {
    background-color: #313131;
    min-height: 100vh;
}

.password-reset-body {
    background-color: #313131;
    color: #fff;
    padding: 2vw 20vw;
}

.password-reset-wrapper {
    padding: 2vw 2vw;    
    display: flex;
    border: 1vw solid black;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.password-reset-header {
    font-size: 2vw;
    color: #fff;
}

.error-text {
    color: red;
    font-size: 1vw;
} 

.reset-password-form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

@media screen and (max-width: 1350px) {
    .password-reset-body {
        background-color: #313131;
        color: #fff;
        padding: 2vw 0vw;
    } 

    .password-reset-header {
        font-size: 3vw;
        color: #fff;
    }
}

@media screen and (max-width: 600px) {
    
    .password-reset-wrapper {
        padding: 3vw 3vw;    
        display: flex;
        border: 1vw solid black;
        display: flex;
        flex-direction: column;
        gap: 5vw;
    }
    
    .password-reset-header {
        font-size: 4vw;
        color: #fff;
    }
    .error-text {
        color: red;
        font-size: 1vw;
    } 

    .reset-password-form-wrapper {
        gap: 3vw;
    }
    
}
