.body {
    background-color: #313131;
}

.search-list-page-header {
    color: #ffffff;
    font-size: 2vw;
    padding-left: 20vw;
    padding-top: 2vw;
}

.current-route-text {
    color: #ffffff;
    font-size: 0.8vw;
    margin-left: 26vw;
    padding-top: 1vw;
}

@media screen and (max-width: 1350px) {
    .search-list-page-header {
        font-size: 4vw;
        padding: 4vw 3vw;
    }
}

@media screen and (max-width: 600px) {
    .search-list-page-header {
        font-size: 6vw;
        padding: 5vw 4vw;
    }
}

