.user-profile-body {
    background-color: #313131;
}

.user-profile-page-header {
    color: #ffffff;
    margin-left: 20vw;
    margin-top: 1.5vw;
    font-size: 2vw;
}

.current-route-text {
    color: #ffffff;
    font-size: 0.8vw;
    margin: 0vw 20vw;
    padding-top: 1vw;
}

@media screen and (max-width: 1350px) {
    
    .user-profile-page-header {
        font-size: 3vw;
        margin-left: 2vw;
    }
}

@media screen and (max-width: 600px) {
    .user-profile-page-header {
        font-size: 5vw;
    }
}