.main-content-bg {
    width: 100%;
    background-color: #313131;
    align-content: center;
}

.main-content-body {
    background-color: #181818;
    padding: 20px 60px;
    display: flex;
}

.left-params-content {
    display: block;
}

.right-graphs-content {
    display: block;
}

.right-graphs-content.graph-overlay {
    width: 80%;
    padding: 0px 60px 0px 0px;
}

.left-params-content.graph-overlay {
    width: 20%;
}
