.main-content-bg {
    width: 100%;
    background-color: #313131;
    align-content: center;
}

.main-content-body {
    background-color: #181818;
    margin: 2vw 4vw;
    padding: 1vw 3vw;
    display: flex;
}

.left-params-content {
    display: block;
    width: 70%;
}

.right-graphs-content {
    width: 30%;
    display: block;
}