.params-body {
    display: flex;
}

.params-column {
    display: block;
    height: 100%;
}

.params-date-range-row {
    display: flex;
}

.calendar-object {
    margin: 0vw 2vw;
}

.calendar-label {
    color: #fff;
    font-size: 1vw;
    padding-bottom: 0.4vw;
    margin: 0vw 2vw;
}

.graphs-column {
    display: block;
    margin: 2vw;
}

.graph-wrapper {
    margin: 2vw 0vw;
}

.date-range-label {
    color: #fff;
    font-size: 2vw;
    padding-bottom: 0.4vw;
    margin: 2vw 2vw;
}

.date-range-and-num-of-offers-wrapper {
    display: flex;
    justify-content: space-between;
}