.params-body {
    display: flex;
}

.params-column {
    display: block;
    height: 100%;
}

.params-date-range-row {
    display: flex;
}

.calendar {
    margin: 20px 40px;
    width: 300px;
}

.calendar-label {
    color: #fff;
    font-size: 24px;
    margin: 0px 40px;
}

.graphs-column {
    display: block;
    margin: 40px;
}

.graph-wrapper {
    margin: 40px 0px;
}

.date-range-label {
    color: #fff;
    font-size: 24px;
    margin: 20px 40px;
}

.date-range-and-num-of-offers-wrapper {
    display: flex;
    justify-content: space-between;
}