.loader {
    border: 1vw solid #f3f3f3;
    border-top: 1vw solid #3498db;
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}