.range-slider-label {
    font-size: 1vw;
    color: #fff;
    margin-bottom: 0.5vw;
}

.range-slider-container {
    text-align: left;
}

input[type="range"] {
    -webkit-appearance: none;
    background: black;
    padding: 0vw 1vw 1.5vw 1vw;
    border-radius: 20px;
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: #a8a8a8;
    margin: 0vw 0.8vw;
    width: 80%;
    height: 8px;
    border-radius: 5px;
}

input[type="range"]::-moz-range-track {
    -webkit-appearance: none;
    background: #a8a8a8;
    margin: 0vw 0.8vw;
    width: 80%;
    height: 8px;
    border-radius: 5px;
}

input[type="range"]::-ms-track {
    -webkit-appearance: none;
    background: #a8a8a8;
    margin: 0vw 0.8vw;
    width: 80%;
    height: 8px;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2vw;
    height: 2vw;
    background: url('../../images/maincomponents/slider_pointer.png') no-repeat;
    background-size: cover;
    cursor: pointer;
    transform: translateY(1.3vw);
    border: none;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 2vw;
    height: 2vw;
    background: url('../../images/maincomponents/slider_pointer.png') no-repeat;
    background-size: cover;
    cursor: pointer;
    transform: translateY(1.3vw);
    border: none;
}

input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    width: 2vw;
    height: 2vw;
    background: url('../../images/maincomponents/slider_pointer.png') no-repeat;
    background-size: cover;
    cursor: pointer;
    transform: translateY(1.3vw);
    border: none;
}

@media screen and (max-width: 1350px) {
    .range-slider-label {
        font-size: 1.5vw;
    }
    
    input[type="range"] {
        padding: 0vw 1vw 2vw 1vw;
        border-radius: 20px;
    }

    input[type="range"]::-webkit-slider-runnable-track {
        margin: 0vw 1.3vw;
        width: 90%;
    }
    
    input[type="range"]::-moz-range-track {
        margin: 0vw 1.3vw;
        width: 90%;
    }
    
    input[type="range"]::-ms-track {
        margin: 0vw 1.3vw;
        width: 90%;
    }
    
    input[type="range"]::-webkit-slider-thumb {
        width: 3vw;
        height: 3vw;
        transform: translateY(2vw);
    }
    
    input[type="range"]::-moz-range-thumb {
        width: 3vw;
        height: 3vw;
        transform: translateY(2vw);
    }
    
    input[type="range"]::-ms-thumb {
        width: 3vw;
        height: 3vw;
        transform: translateY(2vw);
    }
}

@media screen and (max-width: 600px) {
    .range-slider-label {
        font-size: 3vw;
    }
    
    input[type="range"] {
        padding: 3vw 4vw 8vw 4vw;
        border: none;
        border-radius: 20px;
    }
    
    input[type="range"]::-webkit-slider-thumb {
        width: 8vw;
        height: 8vw;
        transform: translateY(3vw);
    }
    
    input[type="range"]::-moz-range-thumb {
        width: 8vw;
        height: 8vw;
        transform: translateY(3vw);
    }
    
    input[type="range"]::-ms-thumb {
        width: 8vw;
        height: 8vw;
        transform: translateY(3vw);
    }

    input[type="range"]::-webkit-slider-runnable-track {
        margin: 0vw 3.8vw;
    }
    
    input[type="range"]::-moz-range-track {
        margin: 0vw 3.8vw;
    }
    
    input[type="range"]::-ms-track {
        margin: 0vw 3.8vw;
    }
}
