.search-list-extended-filters-wrapper {
    background-color: #313131;
    width: 100%;
}

.search-list-extended-filters-padding-wrapper {
    padding: 1vw;
}

.search-list-extended-filters-header {
    font-size: 1.5vw;
    color: #fff;
}

.search-list-extended-filters-num-of-searches {
    font-size: 1.5vw;
    color: #fff;
    margin-bottom: 2vw;
}

.search-list-extended-filters-section {
    margin: 1vw 0;
    display: block;
    width: 90%;
}

.search-list-extended-filters-section-label {
    font-size: 1.2vw;
    color: #fff;
    margin-bottom: 0.5vw;
}

.search-list-extended-filters-brandAndModel-section-content {
    display: flex;
    flex-wrap: wrap;
}

.search-list-extended-filters-brandAndModel-entity {
    background-color: #181818;
    padding: 0.5vw;
    font-size: 1vw;
    margin: 0.5vw 0;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    display: flex;
}

.x {
    position: relative;
    width: 1.5vw;
    height: 1.5vw;
    cursor: pointer;
}

.x:before,
.x:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 2px;
    background-color: #fff;
    transform: translate(-50%, -50%);
}

.x:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.x:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.search-list-extended-filters-brandAndModel-add-button {
    background-color: #181818;
    padding: 0.7vw;
    font-size: 0.8vw;
    margin: 0.5vw 0;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    display: flex;
}

.search-list-extended-filters-brandAndModel-add-button:hover {
    cursor: pointer;
}

.search-list-extended-filters-brandAndModel-add-overlay {
    width: 100%;
    height: 100%;
    background-color: #181818;
    display: block;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.current-state-label {
  font-size: 1vw;
  color: #fff;
  padding: 0.5vw 0vw;
}

.extended-filters-dropdown-img {
    visibility: hidden;
    display: none;
}

@media screen and (max-width: 1350px) {

  .search-list-extended-filters-padding-wrapper {
      padding: 2vw;
  }

  .search-list-extended-filters-header {
      font-size: 2.7vw;
  }

  .search-list-extended-filters-num-of-searches {
      font-size: 3vw;
  }

  .search-list-extended-filters-section-label {
      font-size: 2vw;
  }

  .search-list-extended-filters-brandAndModel-entity {
      font-size: 1.5vw;
  }

  .x {
      width: 2vw;
      height: 2vw;
  }
  .search-list-extended-filters-brandAndModel-add-button {
      padding: 1vw;
      font-size: 1.3vw;
  }

  .current-state-label {
    font-size: 1.5vw;
    color: #fff;
    padding: 0.5vw 0vw;
  }
}

@media screen and (max-width: 600px) {

  .search-list-extended-filters-padding-wrapper {
      padding: 4vw;
      display: flex;
      flex-direction: column;
      gap: 3vw;
  }

  .search-list-extended-filters-header {
      font-size: 6vw;
      display: flex;
      flex-direction: row;
      gap: 2vw;
  }

  .search-list-extended-filters-num-of-searches {
      font-size: 7vw;
  }

  .search-list-extended-filters-section-label {
      font-size: 4.5vw;
      margin-top: 5vw;
  }

  .search-list-extended-filters-brandAndModel-entity {
      font-size: 3vw;
  }

  .x {
      width: 3vw;
      height: 3vw;
  }

  .search-list-extended-filters-brandAndModel-add-button {
      font-size: 3vw;
  }

  .current-state-label {
    font-size: 3vw;
    color: #fff;
    padding: 1.3vw 0vw;
  }

  .extended-filters-dropdown-img {
    width: 7vw;
    height: auto;
    object-fit: scale-down;
    visibility: visible;
    display: block;
  }
}