.search-list-extended-filters-wrapper {
    background-color: #313131;
    width: 100%;
}

.search-list-extended-filters-padding-wrapper {
    padding: 1vw;
}

.search-list-extended-filters-header {
    font-size: 1.5vw;
    color: #fff;
}

.search-list-extended-filters-num-of-searches {
    font-size: 1.5vw;
    color: #fff;
    margin-bottom: 2vw;
}

.search-list-extended-filters-section {
    margin: 1vw 0;
    display: block;
    width: 90%;
}

.search-list-extended-filters-section-label {
    font-size: 1.2vw;
    color: #fff;
    margin-bottom: 0.5vw;
}

.search-list-extended-filters-brandAndModel-section-content {
    display: flex;
    flex-wrap: wrap;
}

.search-list-extended-filters-brandAndModel-entity {
    background-color: #181818;
    padding: 0.5vw;
    font-size: 1vw;
    margin: 0.5vw 0;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    display: flex;
}

.x {
    position: relative;
    width: 1.5vw;
    height: 1.5vw;
    cursor: pointer;
}

.x:before,
.x:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 2px;
    background-color: #fff;
    transform: translate(-50%, -50%);
}

.x:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.x:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.search-list-extended-filters-slider-container {
    width: 100%;
    text-align: left;
}

.search-list-extended-filters-slider-label {
  display: block;
  margin-bottom: 1vw;
  font-size: 0.8vw;
  color: #fff;
}

.search-list-extended-filters-slider-container input[type="range"] {
  width: 100%;
  margin: 0;
  padding: 5px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  appearance: none;
  outline: none;
}

.search-list-extended-filters-slider-container input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 2vw;
  height: 2vw;
  background-color: #007bff;
  border-radius: 50%;
  cursor: pointer;
}

.search-list-extended-filters-slider-container input[type="range"]::-moz-range-thumb {
  width: 1vw;
  height: 1vw;
  background-color: #007bff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.search-list-extended-filters-slider-container input[type="range"]::-ms-thumb {
  width: 0.7vw;
  height: 0.7vw;
  background-color: #007bff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.search-list-extended-filters-slider-container input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  background-color: #ccc;
  border-radius: 5px;
}

.search-list-extended-filters-slider-container input[type="range"]::-moz-range-track {
  width: 100%;
  height: 3px;
  background-color: #ccc;
  border-radius: 5px;
}

.search-list-extended-filters-slider-container input[type="range"]::-ms-track {
  width: 100%;
  height: 3px;
  background-color: #ccc;
  border-radius: 5px;
}

/* Optional styling for Firefox */
@supports (-moz-appearance:none) {
    .search-list-extended-filters-slider-container input[type="range"] {
    height: 10px;
  }
}

.search-list-extended-filters-brandAndModel-add-overlay 
.search-list-extended-filters-section 
.custom-combobox-extended-filters {
  display: block;
}

.search-list-extended-filters-brandAndModel-add-overlay 
.search-list-extended-filters-section 
.current-state-label {
  color: #fff;
  font-size: 3vw;
  padding-bottom: 0.4vw;
}

.search-list-extended-filters-brandAndModel-add-overlay
.search-list-extended-filters-section 
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.search-list-extended-filters-section 
.search-list-extended-filters-brandAndModel-add-overlay
.custom-combobox-extended-filters {
    position: relative;
    width: 100%;
    font-size: 1vw;
}

.search-list-extended-filters-section 
.search-list-extended-filters-brandAndModel-add-overlay
.custom-combobox-extended-filters::after {
  content: '\25BC'; 
  color: #D9D9D9;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 1vw;
}

.search-list-extended-filters-section 
.search-list-extended-filters-brandAndModel-add-overlay
.my-combobox-extended-filters {
  width: 100%;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  font-size: 1.5vw;
  color: #D9D9D9;
  background-color: #313131;
  height: 100%;
  padding-left: 1vw;
}

.search-list-extended-filters-section 
.search-list-extended-filters-brandAndModel-add-overlay
.my-combobox-extended-filters option {
  background-color: #fff;
  color: #000;
}

.search-list-extended-filters-section 
.search-list-extended-filters-brandAndModel-add-overlay
.my-combobox-extended-filters.disabled {
  box-shadow: none;
  opacity: 0.7;
}

.search-list-extended-filters-brandAndModel-add-button {
    background-color: #181818;
    padding: 0.7vw;
    font-size: 0.8vw;
    margin: 0.5vw 0;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    display: flex;
}

.search-list-extended-filters-brandAndModel-add-button:hover {
    cursor: pointer;
}

.search-list-extended-filters-brandAndModel-add-overlay {
    width: 100%;
    background-color: #181818;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.custom-combobox-extended-filters {
  position: relative;
  width: 10vw; 
  height: 2vw;
}

.custom-combobox-extended-filters::after {
  content: '\25BC';
  color: #D9D9D9;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.my-combobox-extended-filters {
  width: 100%;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  font-size: 1vw;
  color: #D9D9D9;
  background-color: #313131;
  height: 100%;
  padding: 0.5vw 1vw;
}

.my-combobox-extended-filters option {
  background-color: #fff;
  color: #000;
}

.my-combobox-extended-filters.disabled {
  box-shadow: none; 
  opacity: 0.7; 
}

.current-state-label {
  font-size: 1vw;
  color: #fff;
  padding: 0.5vw 0vw;
}

@media screen and (max-width: 1350px) {

  .search-list-extended-filters-padding-wrapper {
      padding: 2vw;
  }

  .search-list-extended-filters-header {
      font-size: 2.7vw;
  }

  .search-list-extended-filters-num-of-searches {
      font-size: 3vw;
  }

  .search-list-extended-filters-section-label {
      font-size: 2vw;
  }

  .search-list-extended-filters-brandAndModel-entity {
      font-size: 1.5vw;
  }

  .x {
      width: 2vw;
      height: 2vw;
  }

  .search-list-extended-filters-slider-container input[type="range"] {
    padding: 1vw;
  }

  .search-list-extended-filters-slider-container input[type="range"]::-moz-range-thumb {
    width: 1.5vw;
    height: 1.5vw;
  }

  .search-list-extended-filters-brandAndModel-add-button {
      padding: 1vw;
      font-size: 1.3vw;
  }

  .custom-combobox-extended-filters {
    position: relative;
    width: 10vw; 
    height: 3vw;
  }

  .my-combobox-extended-filters {
    font-size: 1.6vw;
  }

  .current-state-label {
    font-size: 1.5vw;
    color: #fff;
    padding: 0.5vw 0vw;
  }
}

@media screen and (max-width: 600px) {

  .search-list-extended-filters-padding-wrapper {
      padding: 4vw;
  }

  .search-list-extended-filters-header {
      font-size: 6vw;
  }

  .search-list-extended-filters-num-of-searches {
      font-size: 7vw;
  }

  .search-list-extended-filters-section-label {
      font-size: 4.5vw;
      margin-top: 5vw;
  }

  .search-list-extended-filters-brandAndModel-entity {
      font-size: 3vw;
  }

  .x {
      width: 3vw;
      height: 3vw;
  }

  .search-list-extended-filters-slider-container input[type="range"] {
    padding: 3vw;
  }

  .search-list-extended-filters-slider-container input[type="range"]::-moz-range-thumb {
    width: 2vw;
    height: 2vw;
  }

  .search-list-extended-filters-brandAndModel-add-button {
      padding: 3vw;
      font-size: 3vw;
  }

  .custom-combobox-extended-filters {
    width: 35vw; 
    height: 7vw;
  }

  .my-combobox-extended-filters {
    font-size: 3vw;
  }

  .current-state-label {
    font-size: 3vw;
    color: #fff;
    padding: 1.3vw 0vw;
  }

  .search-list-extended-filters-section 
  .search-list-extended-filters-brandAndModel-add-overlay
  .my-combobox-extended-filters {
    width: 100%;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    font-size: 3vw;
    color: #D9D9D9;
    background-color: #313131;
    height: 100%;
    padding-left: 1vw;
  }
}