.search-list-upper-nav-wrapper {
    background-color: #313131;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1vw;
    padding-top: 1vw;
    margin-bottom: 1vw;
}

.search-list-upper-nav-content {
    display: flex;
    width: 90%;
    align-items: center;
}

.styled-button-upper-nav {
    background-color: #313131;
    height: 100%;
    color: #ffffff;
    font-size: 1vw;
    border: solid;
    padding: 0.5vw 2vw;
    border-radius: 5px;
    border-color: #d9d9d9;
    border-width: 0.05vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.styled-button-upper-nav:hover {
    background-color: #D9D9D9;
    color: #000;
}

.save-search-wrapper-upper-nav {
    display: block;
}

.save-search-result-text {
    font-size: 1vw;
}

.save-search-result-text.success {
    color: green;
}

.save-search-result-text.error {
    color: red;
}

@media screen and (max-width: 1350px) {
  .styled-button-upper-nav {
      font-size: 1.5vw;
  }
}

@media screen and (max-width: 600px) {
  .search-list-upper-nav-wrapper {
      margin-bottom: 1vw;
      padding-bottom: 4vw;
      padding-top: 4vw;
  }

  .styled-button-upper-nav {
      font-size: 3vw;
  }
}