.search-list-upper-nav-wrapper {
    background-color: #313131;
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 1vw;
    padding-top: 1vw;
    margin-bottom: 1vw;
}

.search-list-upper-nav-content {
    display: flex;
    width: 100%;
    margin: 0vw 2vw;
    align-items:end;
}

.save-search-wrapper-upper-nav {
    display: block;
}

.save-search-result-text {
    font-size: 1vw;
}

.save-search-result-text.success {
    color: green;
}

.save-search-result-text.error {
    color: red;
}

@media screen and (max-width: 1350px) {

}

@media screen and (max-width: 600px) {
  .search-list-upper-nav-wrapper {
      margin-bottom: 1vw;
      padding-bottom: 4vw;
      padding-top: 4vw;
  }
}