.add-car-photos-section {
    background-color: #181818;
    margin: 2vw 20vw;
    padding: 1vw 3vw;
    display: block;
}

.add-car-photos-header {
    color: #ffffff;
    font-size: 2vw;
}

.add-car-line-container {
    position: relative;
    width: 100%; 
    height: 2px; 
    background-color: #898989;
    margin-bottom: 0.3vw;
    margin: 2vw 0;
}

.add-car-photo-styled-button {
    background-color: #313131;
    color: #ffffff;
    padding: 1vw 2vw;
    font-size: 1vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    width: 8vw;
    margin: 2vw 0vw;
}

.add-car-photo-styled-button:hover {
    background-color: #D9D9D9;
    color: #000;
}

.add-car-photos-columns {
    width: 100%;
    display: flex;
}

.add-car-photos-column-wrapper {
    width: 48%;
    display: block;
}

.add-car-photos-loaded-img {
    object-fit: scale-down;
    width: 80%;
    height: auto;
}

.add-car-photos-uploaded-images-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.add-car-photos-uploaded-img-wrapper {
    position: relative;
    display: inline-block;
    margin: 2vw 1vw;
}

.add-car-photos-uploaded-img {
    width: 10vw;
    height: auto;
    object-fit: scale-down;
}

.x-mark {
    position: absolute;
    top: 0.5vw;
    right: 0.5vw;
    width: 1vw;
    height: 1vw;
    font-size: 0.9vw;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.x-mark::after {
    content: '×';
}

@media screen and (max-width: 1350px) {
    .add-car-photos-section {
        margin: 2vw 0vw;
    }
    
    .add-car-photos-header {
        font-size: 3vw;
    }
    
    .add-car-photo-styled-button {
        font-size: 1.5vw;
        width: 12vw;
        margin: 3vw 0vw;
    }

    .add-car-photos-uploaded-img {
        width: 15vw;
    }
    
    .x-mark {
        width: 1.7vw;
        height: 1.7vw;
        font-size: 1.2vw;
    }

}

@media screen and (max-width: 600px) {
    
    .add-car-photos-header {
        font-size: 5vw;
    }
    
    .add-car-photo-styled-button {
        font-size: 2.5vw;
        width: 20vw;
        margin: 3vw 0vw;
    }

    .add-car-photos-uploaded-img {
        width: 15vw;
    }
    
    .x-mark {
        width: 2vw;
        height: 2vw;
        font-size: 1.3vw;
    }

}