.add-car-features-section {
    background-color: #181818;
    margin: 2vw 20vw;
    padding: 1vw 3vw;
    display: block;
}

.add-car-features-header {
    color: #ffffff;
    font-size: 2vw;
}

.add-car-line-container {
    position: relative;
    width: 100%; 
    height: 2px; 
    background-color: #898989;
    margin-bottom: 0.3vw;
    margin: 2vw 0;
}

.add-car-features-main-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 3vw;
}

.add-car-features-column-wrapper {
    width: 22%;
    display: block;
}

.add-car-features-row-wrapper {
    display: flex;
    width: 100%;
    margin-bottom: 0.5vw;
    align-items: center;
}

.add-car-features-feature-text {
    font-size: 1vw;
    color: #ffffff;
}

.add-car-features-checkbox {
    width: 1vw;
    height: 1vw;
    accent-color: #181818;
    margin-right: 0.8vw;
}

.add-car-features-styled-button {
    background-color: #313131;
    color: #ffffff;
    padding: 1vw 2vw;
    font-size: 1vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 3vw;
    text-align: center;
    margin-top: 2vw;
}

.add-car-features-styled-button:hover {
    background-color: #D9D9D9;
    color: #000;
}

@media screen and (max-width: 1350px) {
    .add-car-features-section {
        margin: 2vw 0vw;
    }
    
    .add-car-features-header {
        font-size: 3vw;
    }
    
    .add-car-features-feature-text {
        font-size: 1.5vw
    }
    
    .add-car-features-checkbox {
        width: 1.5vw;
        height: 1.5vw;
    }
    
    .add-car-features-styled-button {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 600px) {
    
    .add-car-features-header {
        font-size: 5vw;
    }
    
    .add-car-features-feature-text {
        font-size: 2vw
    }
    
    .add-car-features-checkbox {
        width: 4vw;
        height: 4vw;
    }
    
    .add-car-features-styled-button {
        font-size: 2.5vw;
    }

    .add-car-features-row-wrapper {
        margin-bottom: 1vw;
    }
}