.add-car-main-info-section {
    background-color: #181818;
    margin: 2vw 20vw;
    padding: 1vw 3vw;
    display: block;
}

.add-car-main-info-header {
    color: #ffffff;
    font-size: 2vw;
}

.add-car-line-container {
    position: relative;
    width: 100%; 
    height: 2px; 
    background-color: #898989;
    margin-bottom: 0.3vw;
    margin: 2vw 0;
}

.add-car-main-info-content-wrapper {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 50%;
}

.add-car-main-info-column-wrapper {
    display: block;
    height: 100%;
    width: 50%;
}

.add-car-main-info-row-wrapper {
    display: flex;
    margin-bottom: 2vw;
}

.add-car-form {
    display: block;
}

.add-car-main-info-regular-text {
    font-size: 1.3vw;
    color: #fff;
    margin-bottom: 1vw;
}

.add-car-main-info-small-text-darker {
    font-size: 1vw;
    color: #fff;
    font-weight: bold;
    margin-bottom: 1vw;
    opacity: 70%;
}

.add-car-main-info-small-text {
    font-size: 1vw;
    color: #fff;
    margin-bottom: 1vw;
}

.add-car-label {
    color: #fff;
    font-size: 1vw;
    padding-bottom: 0.4vw;
    margin-top: 1vw;
}


@media screen and (max-width: 1350px) {
    .add-car-main-info-section {
        margin: 2vw 0vw;
    }
    
    .add-car-main-info-header {
        margin-top: 2vw;
        font-size: 3vw;
    }
    
    .add-car-main-info-column-wrapper {
        width: 48%;
    }

    .add-car-main-info-regular-text {
        font-size: 1.5vw;
        color: #fff;
        margin-bottom: 1vw;
        margin-top: 2vw;
    }
    
    .add-car-main-info-small-text-darker {
        font-size: 1.5vw;
    }
    
    .add-car-main-info-small-text {
        font-size: 1.5vw;
    }
    
    .add-car-label {
        color: #fff;
        font-size: 1.4vw;
    }
    
}

@media screen and (max-width: 600px) {
    
    .add-car-main-info-header {
        margin-top: 3vw;
        font-size: 5vw;
    }
    
    .add-car-main-info-column-wrapper {
        width: 100%;
    }
    
    .add-car-main-info-regular-text {
        font-size: 3vw;
    }
    
    .add-car-main-info-small-text-darker {
        font-size: 2.5vw;
    }
    
    .add-car-main-info-small-text {
        font-size: 2.5vw;
    }
    
    .add-car-label {
        color: #fff;
        font-size: 3vw;
    }

    .add-car-main-info-row-wrapper {
        display: block;
    }
}