.account-wrapper {
    display: block;
}

.account-main-info-wrapper {
    display: flex;
}

.account-main-info-column-entity {
    display: block;
    margin-right: 3vw;
}

.account-button {
    display: flex;
    align-items: center;
    background-color: #313131;
    border: none;
    height: 3vw;
    width: 8vw;
    color: #fff;
    text-decoration: none;
    font-size: 1vw;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}
  
.account-button:hover {
    background-color: #a3a3a3; 
    color: #181818
}

.account-button-text {
    margin-left: 1vw;
}

.profile-content-text-forgot-password {
    color: #a3a3a3;
    text-decoration: underline;
    font-size: 1vw;
}

.profile-content-text-forgot-password:hover {
    cursor: pointer;
    opacity: 70%;
}

.reset-password-wrapper {
    display: block;
    margin-top: 1vw;
}

.profile-content-text-success {
    color: green;
}

.profile-content-text-error {
    color: red;
}

@media screen and (max-width: 1350px) {

    .account-main-info-column-entity {
        display: block;
        margin-right: 4vw;
    }
    
    .account-button {
        height: 4vw;
        width: 10vw;
        font-size: 1.4vw;
    }

    .account-button-text {
        margin-left: 1.2vw;
    }

    .profile-content-text-forgot-password {
        font-size: 1.4vw;
    }

}

@media screen and (max-width: 600px) {
    
    .account-main-info-column-entity {
        margin-right: 5vw;
    }
    
    .account-button {
        height: 8vw;
        width: 20vw;
        font-size: 3vw;
    }
    
    .account-button-text {
        margin-left: 2vw;
    }
    
    .profile-content-text-forgot-password {
        font-size: 3vw;
    }
    
}