.section-body-user-page-main-section {
    background-color: #181818;
    margin: 2em 20em;
    padding: 1em 1em;
    display: flex;
}

.user-page-left-wrapper {
    width: 25%;
    margin-right: 1%;
    margin-top: 2em;
}

.user-page-right-wrapper {
    width: 70%;
    margin-left: 1%;
    margin-top: 2em;
}

.user-page-vertical-line-container {
    width: 1px;
    background-color: #fff;
    position: relative;
}