.profile-navigation-wrapper {
    display: block;
    margin-left: 2em;
}

.profile-navigation-entity {
    display: flex;
    margin-bottom: 2em;
}

.profile-navigation-entity:hover {
    background-color: #313131;
    padding: 1em;
    border-radius: 5px;
    cursor: pointer;
}

.profile-navigation-entity-img {
    width: 2em;
    height: auto;
    object-fit: scale-down;
    margin-right: 1em;
}

.profile-navigation-entity-text {
    font-size: 1.5em;
    color: #fff;
}
