.successful-verification-body {
    display: block;
}

.successful-verification-content-wrapper {
    background-color: #313131;
    color: #fff;
    padding: 2vw 20vw;
}

.successful-verification-content-header {
    font-size: 2vw;
    color: #fff;
}

.successful-verification-content-body {
    padding: 2vw 0;    
    border: #181818 solid 1vw;
}

.successful-verification-content-body-text {
    font-size: 1vw;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    padding: 0vw 2vw;
}