.section-body-click-and-pick {
    background-color: #181818;
    margin: 2vw 20vw;
    padding: 1vw 3vw;
    display: block;
    justify-content: space-between;
    align-items: center;
}

.section-header-text-click-and-pick {
    color: #ffffff;
    font-size: 2vw;
}

.row-click-and-pick {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 85%;
}

.cell-click-and-pick {
  flex-basis: calc(18%); 
  margin: 1vw;
  text-align: center;
}

.img-click-and-pick {
  width: 8vw;
  height: auto;
  display: block;
  margin: 0 auto;
}

.more-brands-text {
    color: #898989;
    font-size: 1vw;
    width: 15%;
}

.content-click-and-pick {
    display: flex;
    margin: 1.5vw;
}

@media screen and (max-width: 1350px) {
  .section-body-click-and-pick {
      margin: 2vw 0;
  }

  .more-brands-text {
    font-size: 2vw;
  }

}

@media screen and (max-width: 600px) {
  .section-header-text-click-and-pick {
    margin-top: 2vw;  
    font-size: 5vw;
  }

}