.section-body-click-and-pick {
    background-color: #181818;
    margin: 2em 20em;
    padding: 1em 3em;
    display: block;
    justify-content: space-between;
    align-items: center;
}

.section-header-text-click-and-pick {
    color: #ffffff;
    font-size: 2em;
}

.row-click-and-pick {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.cell-click-and-pick {
  flex-basis: calc(18%); 
  margin: 10px;
  text-align: center;
}

.img-click-and-pick {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.p-click-and-pick {
  margin: 10px 0 0;
}

.more-brands-text {
    color: #898989;
    font-size: 1em;
}

.content-click-and-pick {
    display: flex;
    margin: 1.5em;
}