.img-filter-search {
  width: 5vw;
  height: fit-content;
  margin-right: 2vw;
}

.section-body {
  background-color: #181818;
  margin: 2vw 20vw;
  padding: 1vw 3vw;
  display: flex;
  align-items: center;
}

.label-search-list-main-page {
  color: #fff;
  font-size: 1vw;
  padding-bottom: 0.4vw;
}

.right-wrapper {
  display: block;
  width: 100%;
  height: auto;
}

.comboboxes-filter-search {
  display: flex;
  justify-content: space-between;
}

.more-filters-text-search-list-main-page {
  font-size: 1vw;
  color: #898989;
}

.filter-search-links {
  display: flex;
  justify-content: space-between;
  margin-top: 1vw;
}

@media screen and (max-width: 1350px) {

  .section-body {
      margin: 2vw 0;
  }

}

@media screen and (max-width: 600px) {

  .section-body {
      margin: 4vw 0;
      padding: 5vw 3vw;
  }

  .img-filter-search {
    width: 15vw;
    height: fit-content;
  }

  .right-wrapper {
    margin-left: 3vw;
  }

  .more-filters-text-search-list-main-page {
    font-size: 3vw;
  }

  .comboboxes-filter-search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 3vw;
    margin-bottom: 5vw;
  }

  .combobox-filter-search-item {
    flex: 1 0 auto;
  }

}