.img-filter-search {
  width: 5vw;
  height: fit-content;
  margin-right: 2vw;
}

.section-body {
  background-color: #181818;
  margin: 2vw 20vw;
  padding: 1vw 3vw;
  display: flex;
  align-items: center;
}

.label-search-list-main-page {
  color: #fff;
  font-size: 1vw;
  padding-bottom: 0.4vw;
}

.right-wrapper {
  display: block;
  width: 100%;
  height: auto;
}

.comboboxes-filter-search {
  display: flex;
  justify-content: space-between;
}

.more-filters-text-search-list-main-page {
  font-size: 1vw;
  color: #898989;
}

.filter-search-links {
  display: flex;
  justify-content: space-between;
  margin-top: 1vw;
}

.styled-button-filter-search-main-page {
  background-color: #313131;
  color: #ffffff;
  padding: 0.8vw 1vw;
  font-size: 1.1vw;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 1.3vw;
}

.styled-button-filter-search-main-page:hover {
  background-color: #D9D9D9;
  color: #000;
}


@media screen and (max-width: 1350px) {

  .section-body {
      margin: 2vw 0;
  }

}

@media screen and (max-width: 600px) {

  .section-body {
      margin: 4vw 0;
      padding: 5vw 3vw;
  }

  .img-filter-search {
    width: 15vw;
    height: fit-content;
  }

  .right-wrapper {
    margin-left: 3vw;
  }

  .more-filters-text-search-list-main-page {
    font-size: 3vw;
  }

  .comboboxes-filter-search {
    display: flex;
    flex-direction: column;
    gap: 3vw;
  }

  .styled-button-filter-search-main-page {
    padding: 2vw 3vw;
    margin-top: 3vw;
    font-size: 3vw;
  }

}