.section-body-engine-and-powertrain {
    background-color: #181818;
    margin: 2vw 20vw;
    padding: 1vw 3vw 4vw 3vw;
    display: block;
}

.section-header-engine-and-powertrain {
    color: #ffffff;
    font-size: 2vw;
}

.line-container-engine-and-powertrain {
    position: relative;
    width: 100%; 
    height: 2px;
    background-color: #898989;
    margin-bottom: 0.3vw;
    margin: 2vw 0;
}

.label-engine-and-powertrain {
    color: #fff;
    font-size: 1.5vw;
    padding-bottom: 0.4vw;
}

.fuel-type-wrapper {
    display: block;
    margin-bottom: 3vw;
}

.fuel-type-content {
    display: flex;
}

.fuel-type-entity {
    display: flex;
    padding-right: 4vw;
}

.engine-and-powertrain-rows {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.custom-checkbox-engine-and-power {
    position: relative;
    cursor: pointer;
    display: inline-block;
    line-height: 1.5;
    margin-left: 1vw;
  }
  
  .custom-checkbox-engine-and-power input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark-engine-and-power {
    position: absolute;
    top: 0;
    left: 0;
    height: 1vw;
    width: 1vw;
    background-color: #313131;
    border: 1px solid #D9D9D9;
  }
  
  .custom-checkbox-engine-and-power input:checked + .checkmark-engine-and-power {
    background-color: #2196F3;
    border-color: #2196F3;
  }
  
  .checkmark-engine-and-power::before {
    content: '';
    position: absolute;
    display: none;
  }
  
  .custom-checkbox-engine-and-power input:checked + .checkmark-engine-and-power::before {
    display: block;
  }

.line-wrapper-engine-and-powertrain {
    display: flex;
    justify-content: space-between;
}

.power-wrapper {
    display: flex;
    gap: 1vw;
}

.gearbox-wrapper-engine-and-powertrain {
    display: block;
}

.gearbox-content {
    display: flex;
}

.gearbox-entity {
    display: flex;
    padding-right: 4vw;
}

.label-engine-and-powertrain {
  color: #fff;
  font-size: 1em;
  margin-bottom: 0.5vw;
  margin-right: 2vw;
}

.engine-and-powertrain-combobox-image-item {
  width: 2vw;
  height: auto;
  object-fit: scale-down;
}

@media screen and (max-width: 1350px) {

  .section-body-engine-and-powertrain {
      margin: 2vw 0vw;
  }

  .label-engine-and-powertrain {
    font-size: 4vw;
    color: #fff;
    margin-bottom: 1vw;
    margin-top: 3vw;
  }

  .line-wrapper-engine-and-powertrain {
    display: flex;

  }

  .section-header-engine-and-powertrain {
    margin-top: 5vw;
    font-size: 5vw;
  }

  .section-body-engine-and-powertrain {
    padding-bottom: 10vw;  
  }

  .engine-and-powertrain-combobox-image-item {
    width: 4vw;
  }
}

@media screen and (max-width: 600px) {
  .engine-and-powertrain-rows {
    display: flex;
    flex-direction: column;
    gap: 4vw;
  }

  .line-wrapper-engine-and-powertrain {
    display: flex;
    flex-direction: column;
    gap: 4vw;
  }

  .line-container-engine-and-powertrain {
    margin: 4vw 0;
  }

  .engine-and-powertrain-combobox-image-item {
    width: 6vw;
  }

  .power-wrapper {
    gap: 4vw;
  }

}