.section-body-engine-and-powertrain {
    background-color: #181818;
    margin: 2vw 20vw;
    padding: 1vw 3vw;
    display: block;
}

.section-header-engine-and-powertrain {
    color: #ffffff;
    font-size: 2vw;
}

.line-container-engine-and-powertrain {
    position: relative;
    width: 100%; 
    height: 2px;
    background-color: #898989;
    margin-bottom: 0.3vw;
    margin: 2vw 0;
}

.label-engine-and-powertrain {
    color: #fff;
    font-size: 1.5vw;
    padding-bottom: 0.4vw;
}

.fuel-type-wrapper {
    display: block;
    margin-bottom: 3vw;
}

.fuel-type-content {
    display: flex;
}

.fuel-type-entity {
    display: flex;
    padding-right: 4vw;
}

.custom-checkbox-engine-and-power {
    position: relative;
    cursor: pointer;
    display: inline-block;
    line-height: 1.5;
    margin-left: 1vw;
  }
  
  .custom-checkbox-engine-and-power input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark-engine-and-power {
    position: absolute;
    top: 0;
    left: 0;
    height: 1vw;
    width: 1vw;
    background-color: #313131;
    border: 1px solid #D9D9D9;
  }
  
  .custom-checkbox-engine-and-power input:checked + .checkmark-engine-and-power {
    background-color: #2196F3;
    border-color: #2196F3;
  }
  
  .checkmark-engine-and-power::before {
    content: '';
    position: absolute;
    display: none;
  }
  
  .custom-checkbox-engine-and-power input:checked + .checkmark-engine-and-power::before {
    display: block;
  }

.line-wrapper-engine-and-powertrain {
    display: flex;
    justify-content: space-between;
}

.custom-combobox-engine-and-powertrain {
    position: relative;
    width: 13vw; 
    height: 2vw;
}

.combobox-entity-engine-and-powertrain {
  display: block;
  padding-right: 1vw;
  padding-bottom: 1vw;
}

.custom-combobox-engine-and-powertrain::after {
  content: '\25BC';
  color: #D9D9D9; 
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.my-combobox-engine-and-powertrain {
  width: 100%;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  font-size: 14px;
  color: #D9D9D9;
  background-color: #313131;
  height: 100%;
  padding-left: 1vw;
}

.my-combobox-engine-and-powertrain option {
  background-color: #fff;
  color: #000;
}

.my-combobox-engine-and-powertrain.disabled {
    box-shadow: none; 
    opacity: 0.7;
}

.power-wrapper {
    display: flex;
}

.gearbox-wrapper-engine-and-powertrain {
    display: block;
}

.gearbox-content {
    display: flex;
}

.gearbox-entity {
    display: flex;
    padding-right: 4vw;
}

.label-engine-and-powertrain {
  color: #fff;
  font-size: 1em;
  margin-bottom: 0.5vw;
  margin-right: 2vw;
}

@media screen and (max-width: 1350px) {
  .section-body-engine-and-powertrain {
      margin: 2vw 0vw;
  }

  .custom-combobox-engine-and-powertrain {
      width: 25vw; 
      height: 5vw;
  }

  .combobox-entity-engine-and-powertrain {
    margin-top: 2vw;
    margin-right: 5vw;
  }

  .my-combobox-engine-and-powertrain {
    font-size: 1.8vw;
  }

  .label-engine-and-powertrain {
    font-size: 4vw;
    color: #fff;
    margin-bottom: 1vw;
    margin-top: 3vw;
  }

  .line-wrapper-engine-and-powertrain {
    display: block;
  }

  .section-header-engine-and-powertrain {
    margin-top: 5vw;
    font-size: 5vw;
  }

  .section-body-engine-and-powertrain {
    padding-bottom: 10vw;  
  }
}