.section-body-basic-data {
    background-color: #181818;
    margin: 2em 20em;
    padding: 1em 3em;
    /* display: block;
    justify-content: space-between;
    align-items: center; */
}

.section-header-basic-data {
    color: #ffffff;
    font-size: 2em;
}

.line-container {
    position: relative;
    width: 100%; /* Adjust the width of the lines container */
    height: 2px; /* Adjust the height of the lines */
    background-color: #898989;
    margin-bottom: 0.3em;
    margin: 2em 0;
}

.custom-combobox {
    position: relative;
    width: 13em; 
    height: 2em;
}
  
  /* Style the custom combobox arrow */
  .custom-combobox::after {
    content: '\25BC'; /* Unicode arrow down character */
    color: #D9D9D9; /* Adjust the color as needed */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  
  /* Style the custom combobox options */
  .myComboBox {
    width: 100%;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    font-size: 14px;
    color: #D9D9D9;
    background-color: #313131;
    height: 100%;
    padding-left: 1em;
  }
  
  /* Optional: Style the dropdown options */
  .myComboBox option {
    background-color: #fff;
    color: #000;
  }

.myComboBox.disabled {
    box-shadow: none; /* Reset shadow when disabled */
    opacity: 0.7; /* Adjust opacity to indicate disabled state */
    /* Add any additional styles to visually indicate disabled state */
}

  .right-wrapper {
    display: box;
  }

  .comboboxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .more-filters-text {
    font-size: 1em;
    color: #898989;
    padding-left: 1em;
  }

.upper-section-wrapper {
    display: flex;
}

.upper-section-left {
    display: block;
}

.upper-section-right {
    display: block;
    padding: 1em;
}

.car-type-wrapper {
    
}

.car-type-entity {
    display: flex;
}

.car-type-left-wrapper {
    display: block;
    text-align: center;
}

.car-type-checkbox {

}

.car-type-img {

}

.car-type-bottom-label {
    font-size: 1em;
    color: #fff;
    margin-top: -2em;
}