.section-body-basic-data {
    background-color: #181818;
    margin: 2em 20em;
    padding: 1em 3em;
    /* display: block;
    justify-content: space-between;
    align-items: center; */
}

.label {
  color: #fff;
  font-size: 1em;
  padding-bottom: 0.4em;
  margin-top: 1em;
}

.section-header-basic-data {
    color: #ffffff;
    font-size: 2em;
}

.line-container {
    position: relative;
    width: 100%; /* Adjust the width of the lines container */
    height: 2px; /* Adjust the height of the lines */
    background-color: #898989;
    margin-bottom: 0.3em;
    margin: 2em 0;
}

.custom-combobox {
    position: relative;
    width: 13em; 
    height: 2em;
}

.combobox-entity {
  display: block;
  padding-right: 1em;
  padding-bottom: 1em;
}
  
  /* Style the custom combobox arrow */
  .custom-combobox::after {
    content: '\25BC'; /* Unicode arrow down character */
    color: #D9D9D9; /* Adjust the color as needed */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  
  /* Style the custom combobox options */
  .myComboBox {
    width: 100%;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    font-size: 14px;
    color: #D9D9D9;
    background-color: #313131;
    height: 100%;
    padding-left: 1em;
  }
  
  /* Optional: Style the dropdown options */
  .myComboBox option {
    background-color: #fff;
    color: #000;
  }

.myComboBox.disabled {
    box-shadow: none; /* Reset shadow when disabled */
    opacity: 0.7; /* Adjust opacity to indicate disabled state */
    /* Add any additional styles to visually indicate disabled state */
}

  .right-wrapper {
    display: box;
  }

  .comboboxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .more-filters-text {
    font-size: 1em;
    color: #898989;
    padding-left: 1em;
  }

.upper-section-wrapper {
    display: flex;
}

.upper-section-left {
    display: block;
}

.upper-section-right {
    display: block;
    padding: 1em;
    margin-left: 2em;
}

.car-type-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.car-type-entity {
    display: flex;
    align-items: center;
    margin-right: 5em;
}

.car-type-left-wrapper {
    display: block;
    text-align: center;
}

/* Style for the custom checkbox container */
.custom-checkbox {
  position: relative;
  cursor: pointer;
  display: inline-block;
  line-height: 1.5;
  margin-left: 1em;
}

/* Hide the default checkbox input */
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Style for the custom checkmark */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5em;
  width: 1.5em;
  background-color: #313131; /* Background color of the checkmark */
  border: 1px solid #D9D9D9; /* Border color of the checkmark */
}

/* Style for the checkmark when the checkbox is checked */
.custom-checkbox input:checked + .checkmark {
  background-color: #2196F3; /* Change the background color when checked */
  border-color: #2196F3; /* Change the border color when checked */
}

/* Style for the checkmark's appearance (in this case, a simple square) */
.checkmark::before {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when the checkbox is checked */
.custom-checkbox input:checked + .checkmark::before {
  display: block;
}

/* Style for the checkmark icon (in this case, a simple tick) */
.checkmark::before {
  content: '\2713'; /* Unicode character for a tick (check) */
  font-size: 1em;
  color: #fff; /* Color of the checkmark icon */
  text-align: center;
  padding-left: 5px;
}

.car-type-img {

}

.car-type-bottom-label {
    font-size: 1em;
    color: #fff;
    margin-top: -2em;
}

.lower-section-wrapper {
  display: flex;
  justify-content: space-between;
}

.lower-section-left {
  display: block;
}

.lower-section-right {
  display: block;
}

.lower-combobox-wrapper {
  display: block;
}

.lower-combobox-content {
  display: flex;
}

.custom-input-container {
  display: flex;
  flex-direction: column;
}

/* Style for the custom text input */
.custom-input {
  font-size: 16px;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  background-color: #313131;
  color: #D9D9D9;
  height: 1.7em;
}

/* Style for the custom text input when focused */
.custom-input:focus {
  outline: none;
  border-color: #2196F3; /* Change the border color on focus */
  box-shadow: 0 0 5px rgba(33, 150, 243, 0.7); /* Add a subtle box shadow on focus */
}

.checkbox-label {
  font-size: 1em;
  color: #fff;
}

