.section-body-engine-and-powertrain {
    background-color: #181818;
    margin: 2em 20em;
    padding: 1em 3em;
    display: block;
    /* justify-content: space-between;
    align-items: center;  */
}

.section-header-engine-and-powertrain {
    color: #ffffff;
    font-size: 2em;
}

.label {
    color: #fff;
    font-size: 1.5em;
    padding-bottom: 0.4em;
}

.fuel-type-wrapper {
    display: block;
}

.fuel-type-content {
    display: flex;
}

.fuel-type-entity {
    display: flex;
    padding-right: 4em;
}

.custom-checkbox {
    position: relative;
    cursor: pointer;
    display: inline-block;
    line-height: 1.5;
    margin-left: 1em;
  }
  
  /* Hide the default checkbox input */
  .custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Style for the custom checkmark */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.0em;
    width: 1.0em;
    background-color: #313131; /* Background color of the checkmark */
    border: 1px solid #D9D9D9; /* Border color of the checkmark */
  }
  
  /* Style for the checkmark when the checkbox is checked */
  .custom-checkbox input:checked + .checkmark {
    background-color: #2196F3; /* Change the background color when checked */
    border-color: #2196F3; /* Change the border color when checked */
  }
  
  /* Style for the checkmark's appearance (in this case, a simple square) */
  .checkmark::before {
    content: '';
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when the checkbox is checked */
  .custom-checkbox input:checked + .checkmark::before {
    display: block;
  }
  
  /* Style for the checkmark icon (in this case, a simple tick) */
  .checkmark::before {
    color: #fff; /* Color of the checkmark icon */
    text-align: center;
    padding-left: 5px;
  }

.line-wrapper-engine-and-powertrain {
    display: flex;
    justify-content: space-between;
}

.custom-combobox {
    position: relative;
    width: 13em; 
    height: 2em;
}

.combobox-entity {
  display: block;
  padding-right: 1em;
  padding-bottom: 1em;
}
  
  /* Style the custom combobox arrow */
.custom-combobox::after {
  content: '\25BC'; /* Unicode arrow down character */
  color: #D9D9D9; /* Adjust the color as needed */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

/* Style the custom combobox options */
.myComboBox {
  width: 100%;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  font-size: 14px;
  color: #D9D9D9;
  background-color: #313131;
  height: 100%;
  padding-left: 1em;
}

/* Optional: Style the dropdown options */
.myComboBox option {
  background-color: #fff;
  color: #000;
}

.myComboBox.disabled {
    box-shadow: none; /* Reset shadow when disabled */
    opacity: 0.7; /* Adjust opacity to indicate disabled state */
    /* Add any additional styles to visually indicate disabled state */
}

.power-wrapper {
    display: flex;
}

.gearbox-wrapper {
    display: block;
}

.gearbox-content {
    display: flex;
}

.gearbox-entity {
    display: flex;
    padding-right: 4em;
}
