img {
    height: 7em;
}

.section-body {
    background-color: #181818;
    margin: 2em 20em;
    padding: 1em 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.combobox-entity {
    display: block;
    padding: 1em;
}

.label {
    color: #fff;
    font-size: 1em;
    padding-bottom: 0.4em;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
  
.custom-combobox {
    position: relative;
    width: 13em; 
    height: 2em;
}
  
  /* Style the custom combobox arrow */
  .custom-combobox::after {
    content: '\25BC'; /* Unicode arrow down character */
    color: #333; /* Adjust the color as needed */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  
  /* Style the custom combobox options */
  #myComboBox {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #000;
    background-color: #fff;
    height: 100%;
    padding-left: 1em;
  }
  
  /* Optional: Style the dropdown options */
  #myComboBox option {
    background-color: #fff;
    color: #000;
  }

  .right-wrapper {
    display: box;
  }

  .comboboxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .more-filters-text {
    font-size: 1em;
    color: #898989;
    padding-left: 1em;
  }