.body {
    background-color: #313131;
}

.password-reset-body {
    background-color: #313131;
    color: #fff;
    padding: 2em 20em;
}

.password-reset-wrapper {
    padding: 2em 2em;    
    display: flex;
    border: 1em solid black;
}

.password-reset-header {
    font-size: 2em;
    color: #fff;
}

.input-label {
    font-size: 1em;
    margin-bottom: 0.5em;
}

.input-container {

}

.register-wrapper {
    display: block;
}

.login-input {
    margin-bottom: 1em;
}

.register-input {
    margin-bottom: 1em;
}

.error-text {
    color: red;
    font-size: 1em;
} 